In [22]:
import pandas as pd
import json

In [7]:
df = pd.DataFrame(columns = ['text','y'])

In [14]:
a = ['text1', 'positive']
b = ['text2','negative']
c = []
c.append(a)
c.append(b)
c

[['text1', 'positive'], ['text2', 'negative']]

In [15]:
pd.DataFrame(c, columns=['text','y'])

    text         y
0  text1  positive
1  text2  negative

In [20]:
star = 5
if star == 0 or star == 5:
    print('yes')

yes

In [35]:
f = open ('C:/Users/shash/Documents/MScA/Courses/Summer 2020/DEPA/Project/Yelp Dataset/yelp_academic_dataset_review.json',encoding="utf8")

In [36]:
count_neg = 0
count_pos = 0
data = []
for line in f:
    reviews = json.loads(line)
    
    if reviews["stars"] == 1:
        x = [reviews["text"], reviews["stars"]]
        data.append(x)
        count_neg +=1
    elif reviews["stars"] == 5:
        x = [reviews["text"], reviews["stars"]]
        data.append(x)
        count_pos +=1
    
    if count_neg > 5000 and count_pos > 5000:
        break

In [37]:
df = pd.DataFrame(data, columns=['text','y'])

In [42]:
df.to_csv('Yelp_data.csv')

In [39]:
df.y.unique()

array([1., 5.])

In [41]:
df.groupby(by='y').count()

      text
y
1.0   5001
5.0  15595